# Origin: env.example
# Usage in package.json -> "config:env": "bash -c 'ln -f \"$PWD/.env\" \"$PWD/src/backend/.env\"; ln -f \"$PWD/.env\" \"$PWD/src/frontend/client/.env\"; ln -f \"$PWD/.env\" \"$PWD/src/frontend/frameworks/reactjsx/.env\"'"
# Usage in nested package.jsons -> "node --env-file=.env <file>" or "nodemon --env-file=.env <file>"
# No need to configure env variables for event types. Instead, configure them in util-event.

### Event variables.
# EVENTS_ONE_AT_A_TIME=EVENTS_ONE_AT_A_TIME
# EVENTS_PARALLEL=EVENTS_PARALLEL